html {
  height: 100%;
}

body {
  font-family: futura, 'Helvetica Neue', sans-serif;
  font-size: 36px;
  color: white;
  background-color: black;
  background-image: url(media/wily-website-me.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

li {
  margin-bottom: 0.8em;
}

a:link {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

a:visited {
  color: white;
}

@media all and (max-width: 320px) {
  .name {
    font-size: 1em;
  }
  .project {
    max-width: 320px;
  }
}
