html {
  height: 100%;
}

body {
  font-family: futura, 'Helvetica Neue', sans-serif;
  font-size: 24px;
  color: #eee;
  background-color: #252528;
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a:link {
  color: white;
  text-decoration: none;
  font-size: larger;
}

a:visited {
  color: hsla(0, 0%, 100%, 0.7);
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.textpane {
  font-family: museo-sans, sans-serif;
  font-size: 0.8em;

  text-rendering: optimizeLegibility;
  background-color: #ffe;
  color: #403838;
  border-radius: 1em;
}

.textpane a {
  text-decoration: none;
  font-weight: bold;
}

.textpane a:link {
  color: #e03020;
}

.textpane a:visited {
  color: #346;
}

.textcontent {
  font-weight: normal;
  padding-left: 1.2em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.name {
  margin-bottom: 0.3em;
  margin-top: 1em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.project {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 0.5em;
  margin-right: 0.5em;
  max-width: 480px;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  margin-left: 1em;
  margin-right: 1em;
}

.lists {
  display: flex;
  flex-direction: row;  
}

.sublist-section {
  font-family: museo-sans, sans-serif;
  padding-top: 0;
}

.sublist-section a {
  font-size: smaller;
}

.sublist-section-label {
  font-size: smaller;
}

.squash {
  display: none;
}

@media all and (max-width: 320px) {
  .name {
    font-size: 1em;
  }
  .project {
    max-width: 320px;
  }
}
