body {
  font-family: IPAPGothic, Ubuntu, roboto, noto, segoe ui, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.52;
  background-color: #fcfcfc;
  text-rendering: optimizeLegibility;
}

.content-wrap {
  width: 34rem;
  margin: 0 auto;
}

body, a {
  color: #555;
}

a {
}

a:hover {
  color: #ff8000;
}

a:link {
  font-weight: bold;
  line-height: 32px;
  color: hsl(0, 51%, 58%);
}

a:visited {
  color: hsl(0, 0%, 32%);
  font-weight: normal;
}

p {
  margin-bottom: 1.52rem;
}

pre {
  font-size: 0.9rem;
  overflow: auto;
  background: #fff;
  border: 1px dashed #d2d2d2;
  border-radius: 0.25rem;
  margin-bottom: 1.8rem;
  padding: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

.logo h1 {
  font-family: Georgia, serif;
}

h2 {
  line-height: 1.43;
  margin-bottom: 1.35rem;
}

h3 {
  margin-top: 1.8rem;
  margin-bottom: 0.8rem;
}

h1,h2 {
  font-family: Ubuntu;
}

ol, ul {
  margin: 0;
}

li {
  margin-bottom: 0.5rem;
}

blockquote {
  margin: 1.2em 2rem;
}

hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 1.6em 0;
}

/* page header */

.header {
  margin: 3em 0 4rem;
}

.header h1 {
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.header a, .header a:hover {
  text-decoration: none;
  color: #333;
}

.header .author {
  font-variant: small-caps;
  text-transform: lowercase;
  text-rendering: auto;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}

.header .description {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  margin-top: -0.3rem;
  font-family: Georgia, serif;
}

body.article-detail > header {
  margin-bottom: 3rem;
}

/* page footer */

footer {
  margin: 3em 0;
}

footer .nav {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3.5rem;
}

footer a {
  font-size: 1.2rem;
  text-decoration: none;
  font-style: normal;
}

footer .nav a {
  padding: 0 0.5rem;
}

footer .about {
  border-top: 1px dashed #d2d2d2;
  padding: 2.2em 3rem;
  font-size: 0.7rem;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  -ms-column-gap: 2rem;
  column-gap: 2rem;
}

footer .copy {
  text-align: center;
  font-size: 0.7rem;
  font-style: italic;
  margin-top: 1rem;
}

footer .copy, footer .copy a {
  color: #8e8e8e;
}

/* article */

.article {
  margin: 3em 3em 4em 1rem;
}

.article header {
  border-top: 1px dashed #d2d2d2;
}

.article header h2 {
  text-align: center;
  font-weight: 400;
  margin: 0.8em 0;
}

.article header h2 a {
  text-decoration: none;
}

.article header .date {
  text-align: center;
  font-size: 0.8rem;
  margin-top: -0.7rem;
}

.article header .date span {
  background-color: #fcfcfc;
  padding: 0 0.7rem;
}

.article.intro .content p {
  display: inline;
}

.article.intro .content .more {
  font-weight: 700;
  margin-left: 0.3rem;
  border-bottom: 1px dashed #777;
}

.article .content img {
  display: block;
}

.article .content .fit-to-width {
  width: 100%;
}

.center-img-zone .img-container {
  display: flex;
  justify-content: center;
}

.article .content img.do-not-resize {
  width: auto;
  height: auto;
}

.article h1 {
  font-size: 2rem;
}

.more, .date {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px;
}

/* archive */

.archive {
  width: 32rem;
  margin: 5em auto 6rem;
  padding-left: 2rem;
}

.archive h2 {
  font-size: 2rem;
  margin: 0;
  margin-left: 6.1rem;
  margin-bottom: 0.5rem;
}

.archive a, .archive span{
  display: block;
  float: left;
  margin-bottom: -1px;
  text-decoration: none;
}
.archive li:not(:last-child) {
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: -1px;
}

.archive a.last, .archive span.last {
  border: 0;
  margin-bottom: 0;
}

.archive a {
  width: 21rem;
  text-indent: 1rem;
  white-space: nowrap;
}

.archive .year-label,
.archive .month-label{
  width: 4rem;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px;
  text-align: center;
}

.archive .month-label {
  width: 7rem;
}

.archive ul {
  list-style: none;
  margin: 0;
}

.archive ul li {
  margin: 1em 0 0 0;
}

/* code styling */

code {
  font-family: 'Lucida Console', 'Anonymous Pro', monospace;
  font-size: 0.75rem;
  color: #000;
}

pre code {
  display: block;
  line-height: 1.1;
}

p code {
}

/* syntax hl stuff */

code.lang-markdown {
  color: #424242;
}

code.lang-markdown .header,
code.lang-markdown .strong {
  font-weight: bold;
}

code.lang-markdown .emphasis {
  font-style: italic;
}

code.lang-markdown .horizontal_rule,
code.lang-markdown .link_label,
code.lang-markdown .code,
code.lang-markdown .header,
code.lang-markdown .link_url {
  color: #555;
}

code.lang-markdown .blockquote,
code.lang-markdown .bullet {
  color: #bbb;
}

/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #8e908c;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #c82829;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f5871f;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #eab700;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #718c00;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #3e999f;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #4271ae;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #8959a8;
}

ol.alpha {
  list-style-type: upper-alpha;
}

.triforce {
  margin-left: auto;
  margin-right: auto;
}

.finding {
  font-size: 1rem;
  background-color: hsla(230, 50%, 20%, 0.075);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.finding h1 {
  margin-top: 0;
}

/* media queries */

@media (min-width: 1600px) {
}

@media (max-width: 900px) {
  body { font-size: 24px; }
}

@media (max-width: 690px) {
  body {
    font-size: 18px;
  }

  .content-wrap {
    width: auto;
    padding: 0 1rem;
  }
  .header {
    margin: 1em 0;
  }
  .header h1 {
    font-size: 1.0rem;
    margin-bottom: 0.6rem;
  }
  .header .description {
    font-size: 1rem;
  }
  .article {
    margin: 1em 0 2.5rem;
  }
  .archive {
    width: 80%;
    margin: 0 auto;
  }
  .archive * {
    float: none !important;
    line-height: 1.6 !important;
    width: auto !important;
    height: auto !important;
    text-align: left !important;
    border: 0 !important;
    margin: 0 !important;
  }
  footer .nav {
    margin: 1em 0;
  }
  footer .about {
    padding: 0;
    font-size: 0.9rem;
    padding-top: 1.6rem;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
  }
  footer .about p {
    margin-bottom: 1rem;
  }

  .center-img-zone .img-container {
    display: inline-block;
  }

  .center-img-zone .img-container img {
    width: 100%;
    height: auto;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,th {
  border: 1px solid #666;
  padding: 0.25em;
}
